  <% include cabecera.html %> 
  <section class="py-5">
    
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <% articulos.forEach(function(articulos) { %>
            <div class="col mb-5">
                <div class="card h-100">
                  <!-- Sale badge-->
                      <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                        <% if (articulos.venta) { %>
                          <%=__('Sale')%>
                        <% } else { %>
                          <%=__('Wanted')%>
                        <% } %> %></div>
                    <!-- Product image-->
                    <img class="card-img-top" src="/assets/<%=articulos.foto %>" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder"><%=articulos.nombre%></h5>
                            <!-- Product price-->
                            <%=__('Price')%>: <%=articulos.precio %> €
                            <img src="/assets/miniatura_<%=articulos.foto%>" alt="..." />
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><% articulos.tags.forEach(element => { %>
                        <%=element.toUpperCase()%>
                        <% }) %></div>
                        
                    </div>
                </div>
            </div>
            <% }); %>
          </div>
        </div>
        
      </section>     

  <% include pie.html %> 
