<% include cabecera.html %>
<div class="container px-4 px-lg-5 my-5 bg-dark">
    <div class=" text-center text-white">
        <form class="bg-dark py-5" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"><%=__('Email address')%></label>
              <input name='email' type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text"><%=__("We'll never share your email with anyone else.")%></div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"><%=__('Password')%></label>
              <input name='password' type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary"><%=__('Submit')%></button>
            <div class="mb-3"><%=error%></div>
          </form>
    </div>
</div>

<% include pie.html %> 
